*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    /* overflow-x: hidden; */
    font-family: Sailec,sans-serif;
    
}

.marginp{
    /* border: 1px solid red; */
    width: 1000px;
    display: block;
    margin: auto;
}



/* Medium devices (landscape tablets, 1000px and down) ************************************/
@media only screen and (max-width: 1000px) {
    .marginp{
       
        width: 768px;
        display: block;
        margin: auto;
    }
}


/*****************  small devices (phones, 768px and down) *********************/
@media only screen and (max-width: 768px) {
    .marginp{
       
        width: 600px;
        display: block;
        margin: auto;
    }
}


/* Extra small devices (phones, 600px and down) ***********************/
@media only screen and (max-width: 600px) {
    .marginp{
       
        width: 85%;
        display: block;
        margin: auto;
        /* border: 1px solid brown; */
    }

}